
body {
    margin: 20px;
    color: dimgray;
}

/*---HEADER----*/
header h1 {
    /*add font style and size*/
    text-decoration: underline;
}

.header_title {
    font-family: 'Permanent Marker', cursive;
}

header p{
    font-size: 14px;
}

/*---NOTES SECTION----*/

#note-container {
 border-radius: 10px;
 position: relative;
 background-color: #bff5ec;
 padding: 30px 20px;
 margin-top: 10px;
 height: 300px;
 /*overflow: scroll;*/
}

/*------button-----*/
.add-new-note-btn {
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-weight: bolder;
  background-color: #70b1af;
  color: #fafcfc;
  outline: none;
  font-size: 14px;
  padding: 7px;
}

.note{
  font-family: "Permanent Marker", cursive;
  width: 200px;
  height: 200px;
  margin: 10px;
  background-color: lightyellow;
  border: 1px solid #c2c2c2;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  position: relative;
}

